@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Thin.eot');
	src: local('../fonts/Raleway Thin'), local('Raleway-Thin'),
		url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Thin.woff2') format('woff2'),
		url('../fonts/Raleway-Thin.woff') format('woff'),
		url('../fonts/Raleway-Thin.ttf') format('truetype'),
		url('../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold_1.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold_1.woff2') format('woff2'),
		url('../fonts/Raleway-Bold_1.woff') format('woff'),
		url('../fonts/Raleway-Bold_1.ttf') format('truetype'),
		url('../fonts/Raleway-Bold_1.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular_1.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular_1.woff2') format('woff2'),
		url('../fonts/Raleway-Regular_1.woff') format('woff'),
		url('../fonts/Raleway-Regular_1.ttf') format('truetype'),
		url('../fonts/Raleway-Regular_1.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Light.woff2') format('woff2'),
		url('../fonts/Raleway-Light.woff') format('woff'),
		url('../fonts/Raleway-Light.ttf') format('truetype'),
		url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}



/*colors
color: #1fb29f;
color: #cecdd5;
color: #454545;
color: #f1f1f1;

*/


body {
  font-family: Raleway, comic sans, sans-serif;
}
.container {
  max-width: 1120px;
  min-width: 200px;
  margin: 0 auto;
  padding: 0 30px;
}
.clearfix {
  clear: both;
}

/*HEADER*/

header {
  height: 545px;
  /*border: 3px solid orange;*/
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #cecdd5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #cecdd5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #cecdd5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #cecdd5); /* Standard syntax */
}
nav {
  background-color: black;
  color: white;
  font-size: 14px;
  height: 40px;
  /*border: 3px solid orange;*/
}
.logo {
  width: 150px;
  float: left;
  font-size: 14px;
  margin-top: 12px;
}
.logo span {
  color: #1fb29f;
	font-weight: bold;
}
.mainMenu {
  float: right;
  margin-top: 12px;
}
.mainMenu li {
  display: inline-block;
	margin: 0 23px;
	font-weight: bold;
	letter-spacing: 1px;
}
.mainMenu li:last-child {
	margin-right: 0;
}
.aboutMenu {
  display: none;
}
/*Włączanie menu about*/
/*.mainMenu li:first-child:hover .aboutMenu {
  display: block;

}*/

/*INTRO*/
.intro {
  margin-top: 100px;
  text-align: center;
}
.arrowLeft, .arrowRight {
  width: 5%;
  font-size: 80px;
	font-weight: 100;
  margin-top: 110px;
  color: #1fb29f;
}
.arrowLeft {
  float: left;
}
.arrowRight {
  float: left;
}
.mainPic {
  width: 35%;
  height: 350px;
  float: left;
  background-image: url(../images/black_chair.png);
	background-size: 165%;
	background-position: -105px -35px;
	background-repeat: no-repeat;
}
.mainText {
  float: left;
  width: 55%;
  margin-top: 35px;
}
.mainText h1 {
  font-size: 40px;
  font-weight: normal;
}
.mainText p {
  margin: 25px 60px 15px 60px;
  color: #454545;
  font-size: 14px;
  line-height: 25px;
}
.mainText span {
  color: #34C6AB;
  font-weight: bold;
}
button.moreIntro {
  background-color: #34C6AB;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 50px;
  margin: 10px;
  font-size: 22px;
	font-weight: 300;
}

/*PRESENTATION PICS*/
.presentation {
	margin-top: 30px;
	/*border: 3px solid orange;*/
	height: 250px;
}
.presentationPic, .presentationText {
	width: 330px;
	height: 220px;
	float: left;
}
.presentationPic:first-child {
	background-image: url("../images/box1_img.jpg");
	background-size: contain;
}
.presentationPic:nth-child(2) {
	background-image: url("../images/box2_img.jpg");
	margin: 0 30px;
}
.presentationText {
	padding: 20px;
	border: 1px solid silver;
}
.presentationPic h3 {
	margin: 160px 0 0 10px;
	font-size: 16px;
	font-weight: bold;
}
.presentationPic h3::after {
	content: " ";
	height: 6px;
	width: 140px;
	background-color: #34C6AB;
	display: block;
}
.presentationText h3 {
	font-size: 16px;
	margin-top: 5px;
	font-weight: bold;
}
.presentationText h3::after {
	content: " ";
	height: 6px;
	width: 140px;
	background-color: #34C6AB;
	display: block;
}
.presentationText p {
	font-size: 14px;
	margin: 10px 0;
	line-height: 20px;
}
/*PRICES*/
.prices {
	/*margin-top: 30px;*/
	border: 3px solid orange;
	height: 300px;
	background-color: #f1f1f1;
}
.prices>.container> h2 {
	font-size: 22px;
	font-weight: bold;
	margin: 30px 0;
}
.prices>.container> h2::after {
	content: " ";
	height: 6px;
	width: 300px;
	background-color: #34C6AB;
	display: block;
}
.pricePlan {
	margin-top: 30px;
	width: 330px;
	height: 220px;
	float: left;
	border: 1px solid pink;
}
.active {

}
.pricePlan:nth-child(3) {
	margin: 30px 30px;
}
